.popup__save-button {
  height: 50px;
  margin: 48px 36px 0 36px;
  padding: 0;
  background: #000000;
  border-radius: 2px;
  border: none;
  transition: 0.3s;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__save-button {
    height: 46px;
    margin-top: 45px;
    margin-left: 22px;
    margin-right: 22px;
  }
}