.header {
  max-width: 880px;
  min-height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin: auto;
  Border-bottom: 1px solid;
  Border-color: rgba(84, 84, 84, 0.7);
  border: 1px solid red;
}

@media screen and (max-width: 670px) {
  .header {
    min-height: 56px;
  }
}