.popup__name {
  width: 100%;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  vertical-align: top;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
  border: none;
  /*border: 1px solid red;*/
}