.elements__mask-group {
  width: 282px;
  height: 282px;
  margin: 0;
  padding: 0;
  border: 0;
  object-fit: cover;
  vertical-align:bottom;
  overflow: hidden;
  text-align: center;
  background-color: #C4C4C4;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 917px) {
  .elements__mask-group {
    min-width: 100%;
  }
}