.profile__image-pen {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 670px) {
  .profile__image-pen {
    width: 7.5px;
    height: 7.5px;
  }
}